<%= form_with(model: @product, local: true) do |form| %>

  <p>
      <%= form.collection_select :user_id, User.order(:first_name),:id,:first_name %>
  </p>

  <p>
     <%= form.label :name %><br>
     <%= form.text_field :name %>
  </p>

  <p>
     <%= form.label :price %><br>
     <%= form.text_field :price %>
  </p>

  <p>
     <%= form.label :quantity %><br>
     <%= form.text_field :quantity %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
