<% if user_signed_in? %>
  <% if @user_login.status == 'seller' %>
    <%= link_to 'Add', new_product_path %>
  <% end %>
<% end %>

<% if @products.present? %>
  <h3>products lists</h3>
  <table>
    <tr>
      <th>purchase</th>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Image</th>
    </tr>

    <% @products.each do |product| %>
    <tr>
      <% if user_signed_in? %>
        <td><%= form_with(model: @product, local: true) do |form| %>
          <%= form.check_box :parchase %><% end %>
        </td>
      <% end %>
      <td><%= product.id %></td>
      <td><%= product.name %></td>
      <td><%= product.price %></td>

      <% if user_signed_in? %>
        <% if @user_login.status == 'seller' %>
          <% if product.quantity > 0 %>
            <td><%= product.quantity %></td>
          <% else %>
            <td><%= link_to 'add more', increase_products_path(product) %></td>
          <% end %>
        <% end %>
      <% end %>
      <td><%= image_tag product.avatar.url(:thumb) %></td>

    <% if user_signed_in? %>
      <% if @user_login.status == 'buyer' %>
        <% if product.quantity > 0 %>
          <td><%= product.quantity %></td>
        <% else %>
          <td>Product out of stock</td>
        <% end %>
      <% end %>
    <% end %>

      <% if user_signed_in? %>
        <% if @user_login.status == 'seller' %>
          <td><%= link_to 'Add', new_product_path(product) %></td>
        <% end %>
      <% end %>

      <td><%= link_to 'Show', product_path(product) %></td>

      <% if user_signed_in? %>
        <% if @user_login.status == 'buyer' %>
          <% if product.quantity > 0 %>
            <td><%= button_to "#{product.name}", purchase_products_path(product)  %></td>
            <td><%= link_to 'Comment', new_product_comment_path(product)  %></td>
            <td><%= link_to 'Show purchases', show_users_path(product)  %></td>
          <% end %>
      <% end %>
    <% end %>

      <% if user_signed_in? %>
        <% if @user_login.status == 'seller' %>
          <td><%= link_to 'Comment', new_product_comment_path(product)  %></td>
          <td><%= link_to 'Edit', edit_product_path(product)  %></td>
          <td><%= link_to 'Delete', product_path(product),
            method: :delete, data: {confirm: "do yuh really want to delete product ?"}  %></td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
  </table>
<% end %>

<%= paginate @product_pages %>
