<% if @product.comments.present? %>
  <h4><%= "#{@product.name} is out of stock" %></h4>
  <table>
    <tr>
      <th>Id</th>
      <th>Comments</th>
    </tr>

    <% @product.comments.each do |comment|%>
    <tr>
      <td><%= comment.id %></td>
      <td><%= comment.comment %></td>
      <% if user_signed_in? %>
        <td><%= link_to 'Comment', new_product_comment_path(@product, comment)  %></td>
        <td><%= link_to 'Edit', edit_product_comment_path(@product, comment) %></td>
        <td><%= link_to 'Delete', product_comment_path(@product, comment),
          method: :delete,
          data: { confirm: "are yuh sure yuh want to delete ?"} %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% else %>
  <h4>the is no comment for this product </h4>
  <p>go to Home</p>
<% end %>

<% if user_signed_in? %>
  <h4>Products bought</h4>
  <table>
    <% if @user_login.status == 'seller' || @user_login.status == 'buyer' %>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>price</th>
      <th>Date sold</th>
    </tr>

    <% @activities.each do |activity|%>
    <tr>
      <td><%= activity.trackable.id %></td>
      <td><%= activity.trackable.name %></td>
      <td><%= activity.trackable.price %></td>
      <td><%= activity.created_at %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% end %>
